/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background: #F1F1F1;
}
body .container {
  margin: 0 auto;
  width: 1170px;
}
body .container .headerdiv {
  width: 352px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}
body .container .headerdiv nav {
  width: 290px;
}
body .container .headerdiv nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .container .headerdiv nav ul a {
  color: #000;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body h1 {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 27px;
}
body .s-1 {
  margin-bottom: 57px;
}
body .s-1 .cardwrapper {
  display: flex;
  justify-content: space-between;
}
body .s-1 .cardwrapper .imgdiv {
  position: relative;
}
body .s-1 .cardwrapper .imgdiv h2 {
  position: absolute;
  top: 32px;
  left: 41px;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .s-1 .cardwrapper .txtdiv {
  padding: 68px 37px;
  width: 362px;
  height: 171px;
  border-radius: 0px 0px 5px 5px;
  background: #FFF;
}
body .s-1 .cardwrapper .txtdiv p {
  color: #8A8787;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 238px;
  height: 36px;
}
body .s-1 .cardwrapper .txtdiv .time {
  display: inline-block;
  vertical-align: top;
  margin-left: 11px;
}
body .s-2 {
  margin-bottom: 36px;
}
body .s-2 .imgwrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}
body .s-2 .imgwrapper .imgwrapper1 {
  height: 882px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .s-2 .imgwrapper .imgwrapper1 .imgdiv2 {
  position: relative;
  width: 758px;
  height: 430px;
}
body .s-2 .imgwrapper .imgwrapper1 .imgdiv2 h2 {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .s-2 .imgwrapper .imgwrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body footer {
  width: 100%;
  background: #243043;
  padding: 59px 137px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer h5 {
  color: #FFF;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body footer .li-divs {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
body footer .li-divs ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98px;
}
body footer .li-divs ul li {
  color: #818687;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}/*# sourceMappingURL=global.css.map */